<div class="movie-card">
  <img src="<%= movie.imageUrl %>" alt="<%= movie.title %>" />
  <h2><%= movie.title %></h2>
  <p>Director: <%= movie.director %></p>
  <p>Genre: <%= movie.genre %></p>
  <p>Year: <%= movie.year %></p>
</div>
